@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-50 text-gray-900;
}

/* Custom styles for the heatmap colors */
.color-empty {
  background-color: #e0e0e0; /* No data */
}

.color-scale-1 {
  background-color: #a3e635; /* Low activity */
}

.color-scale-2 {
  background-color: #65a30d; /* Medium activity */
}

.color-scale-3 {
  background-color: #4d7c0f; /* High activity */
}

.color-scale-4 {
  background-color: #166534; /* Very high activity */
}
