@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the heatmap colors */
.color-empty {
  fill: #e0e0e0; /* Sin datos */
}

.color-scale-1 {
  fill: #d6e685; /* Bajo */
}

.color-scale-2 {
  fill: #8cc665; /* Medio */
}

.color-scale-3 {
  fill: #44a340; /* Alto */
}

.color-scale-4 {
  fill: #1e6823; /* Muy alto */
}
